@use "fonts" as f;

.main-screen {
  &_branding {
    display: flex;
    align-items: center;
    margin-bottom: 62px;
    gap: 6px;

    &_item {
      line-height: 100%;

      &_logo {
        display: block;
      }

      &_header {
        @include f.GolosText(700);
        font-size: 16.65px;
        line-height: 108%;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        color: var(--logo-text);

        @media (max-width: 450px) {
          font-size: 14.42px
        }
      }
    }
  }

  &_offer-block{
    width: 542px;
    margin-bottom: 40px;

    &_header {
      @include f.Merriweather();
      font-size: 60px;
      line-height: 110%;
      color: var(--base-text);
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 24px;

      &_accent {
        display: block;
        text-align: center;
      }

      @media (max-width: 1250px) and (min-width: 600px) {
        text-shadow: 0 0 1px rgba(255, 255, 255,.9);
      }
    }
    &_content {
      text-align: center;
      font-size: 18px;
      line-height: 130%;

      @media (max-width: 1250px) and (min-width: 600px) {
        text-shadow: 0 0 5px var(--button-text);
        background: rgba(255,255,255,.5);
        border-radius: 15px;
      }
    }
    @media (max-width: 600px) {
      width: 335px;
      max-width: 100%;
      margin-bottom: 32px;

      &_header {
        font-size: 36px;

        &_accent {
          &--right {
            text-align: right;
          }
        }
      }

      &_content {
        text-align: left;
      }
    }
  }

  .button--light {
    @media (max-width: 1250px) {
      border-color: transparent;
      background-color: rgba(255, 255, 255, .9);

      &:hover {
        background-color: var(--button-base);
        color: var(--button-text);
      }
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    @media (max-width: 600px) {
      display: block;
    }
  }
}

