.support-screen {
  min-height: 250px;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  position: relative;
  padding-right: 455px;

  &_article {
    margin-bottom: 0;

    &_picture {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      img{
        display: block;
      }
    }
  }

  @media (max-width: 920px) {
    position: static;
    padding-right: 0;
    min-height: 0;

    &_article {
      &_picture {
        position: static;
        top: auto;
        right: auto;
        transform: none;
        text-align: center;
        display: block;
        padding: 24px 0;

        img{
          display: inline-block;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
